:root {
    --background: #333333;
    --foreground: #ffffff;
    --theme: #00ffff;
}

html, body {
    background-color: var(--background);
    color: var(--foreground);
}

.text-theme {
    color: var(--theme);
}